@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
:root {
  --g-padding-s: 36rem;
  --g-padding-m: 80px;
  --g-padding-l: 180rem;
  --g-color-base: #FFD9CB;
  --g-color-black: #000;
  --g-color-white: #fff;
  --g-color-orange: #F76934;
  --g-color-border: #333333;
}

._b {
  font-weight: bold;
}

._m {
  font-weight: 500;
}

._n {
  font-weight: normal;
}

.c-font-xs {
  font-size: 12rem;
  letter-spacing: 0.05em;
}

.c-font-s {
  font-size: 16rem;
  font-weight: 500;
  line-height: 1.4;
}

.c-font-m {
  font-size: 25rem;
  line-height: 2;
  letter-spacing: 0.05em;
}

.c-font-l {
  font-size: 45rem;
  font-weight: 500;
  line-height: 90rem;
  letter-spacing: 0.05em;
}

.c-font-xl {
  font-size: 120rem;
  font-weight: normal;
  line-height: 1.2;
}

@media (max-width: 768px) {
  ._pc {
    display: none !important;
  }
}
@media (min-width: 1025px) {
  ._tablet {
    display: none !important;
  }
}
@media (min-width: 768px) {
  ._sp {
    display: none !important;
  }
}
.smooth-scroll {
  height: 100vh;
  width: 100%;
}

.scrollbar-track {
  display: none !important;
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

[data-scroll-container] {
  overflow: hidden !important;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11rem;
  height: 100vh;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7rem;
  border-radius: 10rem;
  margin: 2rem;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: grabbing;
}

.cover-footer {
  z-index: 1;
}

body.is-loading .js-cursor {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
@media screen and (max-width: 1250px) {
  html {
    font-size: 0.08vw;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 0.2564102564vw;
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

::before,
::after {
  box-sizing: inherit;
  margin: 0;
}

::-moz-selection {
  background-color: #ccc;
}

::selection {
  background-color: #ccc;
}

body {
  overflow-wrap: break-word;
  width: 100%;
  min-height: 100%;
  line-height: 1.8;
  overflow-x: hidden;
}
body.is-loading main {
  filter: blur(20px);
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 1em;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

dl {
  padding: 0;
}

iframe {
  border-style: none;
}

.black a,
.black p {
  color: #000;
}

h1, h2, h3, h4, h5, a, p, span {
  color: var(--g-color-black);
}

span {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  color: inherit;
}

body.mac-os .home-intro__ttl-icons-graphic {
  bottom: 1.9270833333vw !important;
}
body.mac-os .home-footer__intro .home-intro__ttl-icons-graphic {
  bottom: 0.2083333333vw !important;
}

.sec-ttl__wrap._show .sec-ttl span {
  transform: translateY(0);
}

.en {
  font-family: "Inter", sans-serif;
}

section {
  position: relative;
}

.container {
  max-width: 1136px;
  width: 100%;
  margin: auto;
}
@media screen and (max-width: 1250px) {
  .container {
    max-width: 1136rem;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}

.forpc {
  display: block;
}
@media screen and (max-width: 768px) {
  .forpc {
    display: none;
  }
}

.forsp {
  display: none;
}
@media screen and (max-width: 768px) {
  .forsp {
    display: block;
  }
}

.a-btn a {
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  width: 137px;
  height: 46px;
  padding: 0 10px 0 14px;
  background: linear-gradient(260deg, #FEC969, #F76934);
}
.a-btn a span {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  position: relative;
  z-index: 5;
  transition: all 0.6s ease-in-out;
  display: block;
  width: 100%;
}
.a-btn a span::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
}
.a-btn a img {
  position: absolute;
  width: 17px;
  top: 50%;
  transform: translateY(-50%);
  right: 17px;
}
.a-btn a::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  height: 88%;
  width: 0;
  background: #fff;
  transition: all 0.6s ease-in-out;
  transition-timing-function: cubic-bezier(1, -0.195, 0, 1.33);
}
.a-btn a svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 17px;
  height: 7px;
  width: 18px;
  transition: all 0.3s ease-in-out;
}
.a-btn a svg line {
  transition: all 0.3s ease-in-out;
}
.a-btn a:hover span {
  color: var(--g-color-black);
}
.a-btn a:hover span::after {
  border: 1px solid #000;
}
.a-btn a:hover::before {
  width: 94%;
}
.a-btn a:hover svg {
  right: 15px;
}
.a-btn a:hover svg line {
  stroke: #000;
}

.sec-ttl {
  display: inline-block;
}
.sec-ttl h2 {
  color: var(--g-color-orange);
  font-weight: 200;
  font-size: 64px;
  font-family: "Inter", sans-serif;
  line-height: 1;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1250px) {
  .sec-ttl h2 {
    font-size: 64rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-ttl h2 {
    font-size: 40rem;
  }
}
.sec-ttl p {
  color: var(--g-color-black);
  font-weight: bold;
  font-size: 24px;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1250px) {
  .sec-ttl p {
    font-size: 24rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-ttl p {
    font-size: 20rem;
  }
}
.sec-ttl .glowing {
  position: relative;
  height: 100%;
  width: 100px;
  animation: colorChange 15s linear infinite;
  margin-left: auto;
  margin-top: -40px;
  margin-right: -60px;
  z-index: 1;
}
@media screen and (max-width: 1250px) {
  .sec-ttl .glowing {
    width: 100rem;
    margin-top: -40rem;
    margin-right: -60rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-ttl .glowing {
    width: 50rem;
    margin-top: -40rem;
    margin-right: -60rem;
  }
}
.sec-ttl .glowing:nth-child(even) {
  transform-origin: left;
}
@keyframes colorChange {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.sec-ttl .glowing span {
  position: absolute;
  top: calc(10px * var(--i));
  left: calc(10px * var(--i));
  bottom: calc(10px * var(--i));
  right: calc(10px * var(--i));
}
.sec-ttl .glowing span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  width: 15px;
  height: 15px;
  background: rgb(247, 105, 52);
  border-radius: 50%;
}
.sec-ttl .glowing span:nth-child(1)::before {
  width: 5px;
  height: 5px;
}
.sec-ttl .glowing span:nth-child(2)::before {
  width: 8px;
  height: 8px;
}
.sec-ttl .glowing span:nth-child(3n+1):before {
  background: rgb(247, 105, 52);
  box-shadow: 0 0 5px rgb(247, 105, 52), 0 0 10px rgb(247, 105, 52), 0 0 15px rgb(247, 105, 52), 0 0 20px rgb(247, 105, 52), 0 0 0 2px rgba(247, 105, 52, 0.1);
}
.sec-ttl .glowing span:nth-child(3n+2):before {
  background: rgb(0, 0, 0);
  box-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px rgb(0, 0, 0), 0 0 30px rgb(0, 0, 0), 0 0 40px rgb(0, 0, 0), 0 0 0 4px rgba(0, 0, 0, 0.1);
}
.sec-ttl .glowing span:nth-child(3n+3):before {
  background: rgb(247, 105, 52);
  box-shadow: 0 0 20px rgb(247, 105, 52), 0 0 40px rgb(247, 105, 52), 0 0 60px rgb(247, 105, 52), 0 0 80px rgb(247, 105, 52), 0 0 0 8px rgba(247, 105, 52, 0.1);
}
.sec-ttl .glowing span:nth-child(3n+1) {
  animation: animate 16s alternate infinite;
}
.sec-ttl .glowing span:nth-child(3n+2) {
  animation: animate-reverse 8s alternate infinite;
}
.sec-ttl .glowing span:nth-child(3n+3) {
  animation: animate 13s alternate infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-reverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@font-face {
  font-family: "Zen Kaku Gothic Antique";
  src: url("../fonts/ZenKakuGothicAntique-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Zen Kaku Gothic Antique";
  src: url("../fonts/ZenKakuGothicAntique-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Zen Kaku Gothic Antique";
  src: url("../fonts/ZenKakuGothicAntique-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Zen Kaku Gothic Antique";
  src: url("../fonts/ZenKakuGothicAntique-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Zen Kaku Gothic Antique";
  src: url("../fonts/ZenKakuGothicAntique-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "MPLUS1";
  src: url("../fonts/MPLUS1-VariableFont_wght.ttf");
  font-weight: 200;
}
html {
  font-family: "Noto Sans JP", sans-serif;
}

._bold {
  font-weight: 700;
}

.js-io._fadeup {
  transform: translate(0, 36px);
  transition: transform 1.2s cubic-bezier(0.32, 0.1, 0, 1), opacity 1.2s cubic-bezier(0.32, 0.1, 0, 1), background 1.2s cubic-bezier(0.32, 0.1, 0, 1);
  visibility: hidden;
  opacity: 0;
  filter: blur(10px);
}
.js-io._fadeleft {
  transform: translateX(100px) scale(1.1);
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  filter: blur(10px);
  opacity: 0;
}
.js-io._blur {
  transform: scale(1.1);
  transition: all 1s ease-in-out;
  visibility: hidden;
  filter: blur(10px);
  opacity: 0;
}
.js-io._fadein {
  transform: translateY(0);
  transition: all 1s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.js-io._zoomup {
  transform: scale(0.5);
  transition: all 1s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.js-io._show {
  transform: translate(0) scale(1);
  visibility: visible;
  filter: blur(0);
  opacity: 1;
}
.js-io._delay.--fadein {
  transform: translateY(0);
}
.js-io._delay._show {
  transform: translate(0) scale(1);
  visibility: visible;
  filter: blur(0);
  opacity: 1;
}
.js-io._delay._show:nth-of-type(1) {
  transition-delay: 0s;
}
.js-io._delay._show:nth-of-type(2) {
  transition-delay: 0.2s;
}
.js-io._delay._show:nth-of-type(3) {
  transition-delay: 0.4s;
}
.js-io._delay._show:nth-of-type(4) {
  transition-delay: 0.6s;
}
.js-io._delay._show:nth-of-type(5) {
  transition-delay: 0.34s;
}
.js-io._delay._show:nth-of-type(6) {
  transition-delay: 0.42s;
}
.js-io._delay._show:nth-of-type(7) {
  transition-delay: 0.5s;
}
.js-io._delay._show:nth-of-type(8) {
  transition-delay: 0.58s;
}
.js-io._delay._show:nth-of-type(9) {
  transition-delay: 0.66s;
}
.js-io._delay._show:nth-of-type(10) {
  transition-delay: 0.74s;
}

._blur {
  transform: scale(1.1);
  transition: all 1s ease-in-out;
  visibility: hidden;
  filter: blur(10px);
  opacity: 0;
}
._blur._show {
  transform: translate(0) scale(1);
  visibility: visible;
  filter: blur(0);
  opacity: 1;
}

.sec-fv-main-txt ._fadeup {
  transform: translateY(36px);
  transition: transform 1.2s cubic-bezier(0.32, 0.1, 0, 1), opacity 1.2s cubic-bezier(0.32, 0.1, 0, 1), background 1.2s cubic-bezier(0.32, 0.1, 0, 1);
  visibility: hidden;
  opacity: 0;
  filter: blur(10px);
}
.sec-fv-main-txt ._fadeup._show {
  transform: translate(0) scale(1);
  visibility: visible;
  filter: blur(0);
  opacity: 1;
}
.sec-fv-main-txt ._fadeup._delay.--fadein {
  transform: translateY(0);
}
.sec-fv-main-txt ._fadeup._delay._show {
  transform: translate(0) scale(1);
  visibility: visible;
  filter: blur(0);
  opacity: 1;
}
.sec-fv-main-txt ._fadeup._delay._show:nth-of-type(1) {
  transition-delay: 0s;
}
.sec-fv-main-txt ._fadeup._delay._show:nth-of-type(2) {
  transition-delay: 0.06s;
}
.sec-fv-main-txt ._fadeup._delay._show:nth-of-type(3) {
  transition-delay: 0.12s;
}
.sec-fv-main-txt ._fadeup._delay._show:nth-of-type(4) {
  transition-delay: 0.18s;
}
.sec-fv-main-txt ._fadeup._delay._show:nth-of-type(5) {
  transition-delay: 0.24s;
}
.sec-fv-main-txt ._fadeup._delay._show:nth-of-type(6) {
  transition-delay: 0.3s;
}
.sec-fv-main-txt ._fadeup._delay._show:nth-of-type(7) {
  transition-delay: 0.36s;
}
.sec-fv-main-txt ._fadeup._delay._show:nth-of-type(8) {
  transition-delay: 0.42s;
}
.sec-fv-main-txt ._fadeup._delay._show:nth-of-type(9) {
  transition-delay: 0.48s;
}
.sec-fv-main-txt ._fadeup._delay._show:nth-of-type(10) {
  transition-delay: 0.54s;
}
.sec-fv-main-txt ._fadeup._delay._show:nth-of-type(11) {
  transition-delay: 0.6s;
}
.sec-fv-main-txt ._fadeup._delay._show:nth-of-type(12) {
  transition-delay: 0.66s;
}
.sec-fv-main-txt ._fadeup._delay._show:nth-of-type(13) {
  transition-delay: 0.72s;
}
.sec-fv-main-txt ._fadeup._delay._show:nth-of-type(14) {
  transition-delay: 0.78s;
}
.sec-fv-main-txt ._fadeup._delay._show:nth-of-type(15) {
  transition-delay: 0.84s;
}
.sec-fv-main-txt ._fadeup._delay._show:nth-of-type(16) {
  transition-delay: 0.9s;
}
.sec-fv-main-txt ._fadeup._delay._show:nth-of-type(17) {
  transition-delay: 0.96s;
}
.sec-fv-main-txt ._fadeup._delay._show:nth-of-type(18) {
  transition-delay: 1.02s;
}
.sec-fv-main-txt ._fadeup._delay._show:nth-of-type(19) {
  transition-delay: 1.08s;
}
.sec-fv-main-txt ._fadeup._delay._show:nth-of-type(20) {
  transition-delay: 1.14s;
}
.sec-fv-main-txt ._fadeup._delay._show:nth-of-type(21) {
  transition-delay: 1.2s;
}
.sec-fv-main-txt ._fadeup._delay._show:nth-of-type(22) {
  transition-delay: 1.26s;
}
.sec-fv-main-txt ._fadeup._delay._show:nth-of-type(23) {
  transition-delay: 1.32s;
}

.loading {
  /*fixedで全面に固定*/
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background: var(--g-color-orange);
  text-align: center;
  color: #fff;
  -webkit-clip-path: inset(0);
          clip-path: inset(0);
  transition: opacity 0.4s, visibility 0.4s, transform 0.3s cubic-bezier(0.92, 0.46, 0.36, 0.98), -webkit-clip-path 0.9s cubic-bezier(0.92, 0.46, 0.36, 0.98);
  transition: clip-path 0.9s cubic-bezier(0.92, 0.46, 0.36, 0.98), opacity 0.4s, visibility 0.4s, transform 0.3s cubic-bezier(0.92, 0.46, 0.36, 0.98);
  transition: clip-path 0.9s cubic-bezier(0.92, 0.46, 0.36, 0.98), opacity 0.4s, visibility 0.4s, transform 0.3s cubic-bezier(0.92, 0.46, 0.36, 0.98), -webkit-clip-path 0.9s cubic-bezier(0.92, 0.46, 0.36, 0.98);
}
.loading-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 100%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.loading-txt .loading-bar {
  width: 150px;
  margin: auto;
  margin-top: 10px;
}
.loading-txt .loading-bar span {
  height: 1px;
  width: 0;
  background: var(--g-color-white);
  display: block;
}
.loading.hidden {
  -webkit-clip-path: inset(0 0 100% 0);
          clip-path: inset(0 0 100% 0);
  opacity: 0;
  visibility: hidden;
}

.c-preloader__progress {
  color: var(--g-color-white);
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-family: MPLUS1;
}

body.is-loading .js-cursor {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
  transform: translateY(-101%);
  transition: transform 0.8s ease-in-out;
}
.header.loaded {
  transform: translateY(0);
}
.header-container {
  height: 85px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--g-color-white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1250px) {
  .header-container {
    height: 85rem;
    padding: 0 30rem;
  }
}
@media screen and (max-width: 768px) {
  .header-container {
    padding: 0;
    max-width: 100%;
    width: 100%;
    margin: auto;
    padding-top: 0 30rem;
  }
}
.header-logo img {
  width: 219px;
}
@media screen and (max-width: 1250px) {
  .header-logo img {
    width: 219rem;
  }
}
@media screen and (max-width: 768px) {
  .header-link {
    display: none;
  }
}
.header-link ul {
  display: flex;
  align-items: center;
  justify-content: right;
}
.header-link ul li {
  margin-left: 36px;
}
@media screen and (max-width: 1250px) {
  .header-link ul li {
    margin-left: 36rem;
  }
}
.header-link ul li a {
  font-weight: bold;
  color: var(--g-color-black);
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  position: relative;
}
@media screen and (max-width: 1250px) {
  .header-link ul li a {
    font-size: 16rem;
  }
}
.header-link ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  transition: all 0.3s ease-in-out;
  background: var(--g-color-black);
  bottom: 0;
  right: 0;
  left: auto;
  height: 1px;
}
.header-link ul li a:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}
.header-link ul li a img {
  width: 30px;
}
.header-link ul li.social-link {
  margin-left: 25px;
}
@media screen and (max-width: 1250px) {
  .header-link ul li.social-link {
    margin-left: 25rem;
  }
}
.header-link ul li.social-link a::after {
  display: none;
}

.contact {
  position: relative;
  overflow: hidden;
}
.contact .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .contact .container {
    display: block;
  }
}
.contact .container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 2;
  transition: all 1s ease-in-out;
}
.contact .container._show {
  transform: unset !important;
  visibility: visible;
  filter: unset !important;
  opacity: 1;
}
.contact .container._show::after {
  width: 0%;
}
.contact-txt {
  position: relative;
  z-index: 5;
}
.contact-txt p {
  color: var(--g-color-black);
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 30px;
}
@media screen and (max-width: 1250px) {
  .contact-txt p {
    font-size: 30rem;
  }
}
@media screen and (max-width: 768px) {
  .contact-txt p {
    font-size: 20rem;
  }
}
.contact-txt p:first-child {
  font-size: 24px;
}
@media screen and (max-width: 1250px) {
  .contact-txt p:first-child {
    font-size: 24rem;
  }
}
@media screen and (max-width: 768px) {
  .contact-txt p:first-child {
    font-size: 16rem;
  }
}
.contact-txt p span {
  color: var(--g-color-white);
  font-size: 64px;
  font-weight: 200;
}
@media screen and (max-width: 1250px) {
  .contact-txt p span {
    font-size: 64rem;
  }
}
@media screen and (max-width: 768px) {
  .contact-txt p span {
    font-size: 32rem;
  }
}
.contact-btn {
  position: relative;
  z-index: 5;
}
.contact-btn a {
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  width: 337px;
  height: 91px;
  padding-left: 67px;
  background: #1E1E1E;
}
@media screen and (max-width: 1250px) {
  .contact-btn a {
    width: 337rem;
    height: 91rem;
    padding-left: 67rem;
  }
}
@media screen and (max-width: 768px) {
  .contact-btn a {
    margin-top: 50rem;
    width: 200rem;
    height: 60rem;
    padding-left: 40rem;
  }
}
.contact-btn a span {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  position: relative;
  z-index: 5;
  transition: all 0.6s ease-in-out;
  display: block;
  width: 100%;
}
@media screen and (max-width: 1250px) {
  .contact-btn a span {
    font-size: 40rem;
  }
}
@media screen and (max-width: 768px) {
  .contact-btn a span {
    font-size: 20rem;
  }
}
.contact-btn a span::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 33px;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1250px) {
  .contact-btn a span::after {
    right: 33rem;
    height: 42rem;
    width: 42rem;
  }
}
@media screen and (max-width: 768px) {
  .contact-btn a span::after {
    right: 20rem;
    height: 34rem;
    width: 34rem;
  }
}
.contact-btn a::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  height: 84%;
  width: 0;
  background: #fff;
  transition: all 0.6s ease-in-out;
  transition-timing-function: cubic-bezier(1, -0.195, 0, 1.33);
}
.contact-btn a svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  height: 12px;
  width: 42px;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1250px) {
  .contact-btn a svg {
    right: 50rem;
    height: 12rem;
    width: 42rem;
  }
}
@media screen and (max-width: 768px) {
  .contact-btn a svg {
    right: 35rem;
    height: 8rem;
    width: 32rem;
  }
}
.contact-btn a svg line {
  transition: all 0.3s ease-in-out;
}
.contact-btn a:hover span {
  color: var(--g-color-black);
}
.contact-btn a:hover span::after {
  border: 1px solid #000;
}
.contact-btn a:hover::before {
  width: 94%;
}
.contact-btn a:hover svg {
  right: 40px;
}
@media screen and (max-width: 1250px) {
  .contact-btn a:hover svg {
    right: 40rem;
  }
}
@media screen and (max-width: 768px) {
  .contact-btn a:hover svg {
    right: 20rem;
  }
}
.contact-btn a:hover svg line {
  stroke: #000;
}
.contact-logo {
  position: absolute;
  bottom: 14px;
  right: 21px;
  z-index: 8;
}
@media screen and (max-width: 1250px) {
  .contact-logo {
    bottom: 14rem;
    right: 21rem;
  }
}
@media screen and (max-width: 768px) {
  .contact-logo {
    bottom: 7rem;
    right: 10rem;
  }
}
.contact-logo img {
  width: 219px;
}
@media screen and (max-width: 1250px) {
  .contact-logo img {
    width: 219rem;
  }
}
@media screen and (max-width: 768px) {
  .contact-logo img {
    width: 120rem;
  }
}
.contact-orange-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 75%;
  background: linear-gradient(45deg, #FDC05E 25%, #F76934 75%);
  z-index: 1;
}
.contact-white-bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 25%;
  background: #fff;
  z-index: 2;
}
.contact-white-bg span {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background: #fff;
}
.contact-white-bg span::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  border-top: 500px solid transparent;
  border-left: 350px solid transparent;
  border-right: 350px solid #fff;
}
@media screen and (max-width: 1250px) {
  .contact-white-bg span::after {
    border-top: 800rem solid transparent;
    border-left: 350rem solid transparent;
    border-right: 350rem solid #fff;
  }
}
.contact .contact-loop-wrap {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 5;
  overflow: hidden;
  padding: 30px 0;
}
@media screen and (max-width: 1250px) {
  .contact .contact-loop-wrap {
    padding: 30rem 0;
  }
}
.contact .contact-loop-area {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  animation: loop-area 50s infinite linear;
}
.contact .contact-loop-area:not(:last-child) {
  margin-right: 20px;
}
@media screen and (max-width: 1250px) {
  .contact .contact-loop-area:not(:last-child) {
    margin-right: 20rem;
  }
}
@media screen and (max-width: 768px) {
  .contact .contact-loop-area:not(:last-child) {
    margin-right: 12rem;
  }
}
@keyframes loop-area {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.contact .contact-loop-txt {
  font-size: 100px;
  font-weight: bold;
  color: #FFD9CB;
  text-wrap: nowrap;
  line-height: 1;
  opacity: 0.4;
}
@media screen and (max-width: 1250px) {
  .contact .contact-loop-txt {
    font-size: 180rem;
  }
}
@media screen and (max-width: 768px) {
  .contact .contact-loop-txt {
    font-size: 72rem;
  }
}
.contact .contact-loop-txt:not(:last-child) {
  margin-right: 20px;
}
@media screen and (max-width: 1250px) {
  .contact .contact-loop-txt:not(:last-child) {
    margin-right: 20rem;
  }
}
@media screen and (max-width: 768px) {
  .contact .contact-loop-txt:not(:last-child) {
    margin-right: 12rem;
  }
}

.footer-main {
  padding: 72px 0 62px;
  background: #333;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1250px) {
  .footer-main {
    padding: 72rem 0 62rem;
  }
}
.footer-main .footer-ttl p {
  color: #fafafa;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 36px;
  letter-spacing: 0.04em;
}
@media screen and (max-width: 1250px) {
  .footer-main .footer-ttl p {
    font-size: 20rem;
    margin-bottom: 36rem;
  }
}
.footer-main .footer-link {
  display: flex;
  align-items: start;
  justify-content: left;
  border-bottom: 2px solid #fff;
  padding-bottom: 22px;
}
@media screen and (max-width: 1250px) {
  .footer-main .footer-link {
    padding-bottom: 22rem;
    border-bottom: 2rem solid #fff;
  }
}
@media screen and (max-width: 768px) {
  .footer-main .footer-link {
    display: block;
  }
}
.footer-main .footer-link > ul:first-child {
  margin-right: 118px;
}
@media screen and (max-width: 1250px) {
  .footer-main .footer-link > ul:first-child {
    margin-right: 118rem;
  }
}
.footer-main .footer-link > ul > li {
  margin-bottom: 16px;
  color: #fafafa;
  font-size: 16px;
  letter-spacing: 0.04em;
  font-weight: bold;
}
@media screen and (max-width: 1250px) {
  .footer-main .footer-link > ul > li {
    margin-bottom: 16rem;
    font-size: 16rem;
  }
}
.footer-main .footer-link > ul > li > a {
  position: relative;
  color: #fafafa;
}
.footer-main .footer-link > ul > li > a::after {
  content: "";
  position: absolute;
  width: 0;
  transition: all 0.3s ease-in-out;
  background: var(--g-color-white);
  bottom: 0;
  right: 0;
  left: auto;
  height: 1px;
}
.footer-main .footer-link > ul > li > a:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}
.footer-main .footer-link > ul > li ul li {
  padding-left: 30px;
  margin-top: 16px;
  position: relative;
}
@media screen and (max-width: 1250px) {
  .footer-main .footer-link > ul > li ul li {
    padding-left: 30rem;
    margin-top: 16rem;
  }
}
.footer-main .footer-link > ul > li ul li::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--g-color-white);
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
@media screen and (max-width: 1250px) {
  .footer-main .footer-link > ul > li ul li::after {
    width: 5rem;
    height: 5rem;
    left: 15rem;
  }
}
.footer-main .footer-link > ul > li ul li a {
  position: relative;
  color: #fafafa;
}
.footer-main .footer-link > ul > li ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  transition: all 0.3s ease-in-out;
  background: var(--g-color-white);
  bottom: 0;
  right: 0;
  left: auto;
  height: 1px;
}
.footer-main .footer-link > ul > li ul li a:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}
.footer-main .footer-copyright p {
  font-size: 16px;
  color: var(--g-color-white);
  text-align: center;
  letter-spacing: 0.04em;
  font-weight: 400;
  margin-top: 19px;
}
@media screen and (max-width: 1250px) {
  .footer-main .footer-copyright p {
    font-size: 16rem;
    margin-top: 19rem;
  }
}
@media screen and (max-width: 768px) {
  .footer-main .footer-copyright p {
    font-size: 12rem;
    margin-top: 19rem;
  }
}
.footer-main .footer-deco {
  position: absolute;
  bottom: 0;
  right: 0;
}
.footer-main .footer-deco img {
  width: 500px;
}
@media screen and (max-width: 1250px) {
  .footer-main .footer-deco img {
    width: 500rem;
  }
}
@media screen and (max-width: 768px) {
  .footer-main .footer-deco img {
    width: 300rem;
  }
}

.main {
  overflow: hidden;
}

.sec-fv {
  background: url(../img/fv-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
}
.sec-fv-main {
  overflow: hidden;
}
.sec-fv-main-txt {
  position: relative;
  z-index: 5;
}
.sec-fv-main-txt h2 {
  font-weight: bold;
  font-size: 36px;
  font-family: "Inter", sans-serif;
  color: var(--g-color-black);
  line-height: 1.5;
}
@media screen and (max-width: 1250px) {
  .sec-fv-main-txt h2 {
    font-size: 36rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-fv-main-txt h2 {
    font-size: 30rem;
  }
}
.sec-fv-main-txt h2 span {
  display: inline-block;
}
.sec-fv-main-txt h2 .orange {
  color: var(--g-color-orange);
}
.sec-fv-main-logo img {
  width: 530px;
  transform: translateX(-25px);
}
@media screen and (max-width: 1250px) {
  .sec-fv-main-logo img {
    transform: translateX(-25rem);
    width: 530rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-fv-main-logo img {
    transform: translateX(-6rem);
    width: 260rem;
  }
}
.sec-fv-top-deco {
  position: absolute;
  right: 150px;
  top: 0;
}
@media screen and (max-width: 1250px) {
  .sec-fv-top-deco {
    right: 150rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-fv-top-deco {
    right: 50rem;
  }
}
.sec-fv-top-deco img {
  width: 309px;
}
@media screen and (max-width: 1250px) {
  .sec-fv-top-deco img {
    width: 309rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-fv-top-deco img {
    width: 150rem;
  }
}
.sec-fv-bottom-deco {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .sec-fv-bottom-deco {
    right: -100rem;
    opacity: 0.5;
  }
}
.sec-fv-bottom-deco img {
  width: 500px;
}
@media screen and (max-width: 1250px) {
  .sec-fv-bottom-deco img {
    width: 500rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-fv-bottom-deco img {
    width: 300rem;
  }
}
.sec-fv .scroll-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 36px);
}
@media screen and (max-width: 1250px) {
  .sec-fv .scroll-down {
    transform: translate(-50%, 36rem);
  }
}
@media screen and (max-width: 768px) {
  .sec-fv .scroll-down {
    transform: translate(-50%, 25rem);
  }
}
.sec-fv .scroll-down__wrap {
  position: relative;
}
.sec-fv .scroll-down-line {
  width: 1px;
  height: 116px;
  position: absolute;
  bottom: 36px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1250px) {
  .sec-fv .scroll-down-line {
    bottom: 36rem;
    height: 116rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-fv .scroll-down-line {
    bottom: 25rem;
    height: 100rem;
  }
}
.sec-fv .scroll-down-line span {
  width: 1px;
  height: 100%;
  display: block;
  position: relative;
}
.sec-fv .scroll-down-line span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background: #1e1e1e;
  animation: scroll-down 2.5s linear infinite;
}
@keyframes scroll-down {
  0% {
    height: 0;
    bottom: 100%;
  }
  50% {
    height: 100%;
    bottom: 0;
  }
  100% {
    height: 0;
    bottom: 0;
  }
}
.sec-fv .scroll-down-circle {
  width: 72px;
  height: 72px;
  border: 1px solid #1e1e1e;
  border-radius: 50%;
}
@media screen and (max-width: 1250px) {
  .sec-fv .scroll-down-circle {
    width: 72rem;
    height: 72rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-fv .scroll-down-circle {
    width: 50rem;
    height: 50rem;
  }
}

.sec-domain {
  padding: 115px 0 200px;
}
@media screen and (max-width: 1250px) {
  .sec-domain {
    padding: 115rem 0 200rem;
  }
}
.sec-domain .sec-ttl {
  margin-bottom: 124px;
}
@media screen and (max-width: 1250px) {
  .sec-domain .sec-ttl {
    margin-bottom: 124rem;
  }
}
.sec-domain-main {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}
@media screen and (max-width: 768px) {
  .sec-domain-main {
    display: block;
  }
}
.sec-domain__elem {
  width: 359px;
}
@media screen and (max-width: 1250px) {
  .sec-domain__elem {
    width: 359rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-domain__elem {
    width: 100%;
  }
}
.sec-domain__elem:nth-child(2) {
  padding: 78px 0;
}
@media screen and (max-width: 1250px) {
  .sec-domain__elem:nth-child(2) {
    padding: 78rem 0;
  }
}
@media screen and (max-width: 768px) {
  .sec-domain__elem:nth-child(2) {
    padding: 0;
  }
}
.sec-domain__elem:nth-child(3) {
  padding-top: 156px;
}
@media screen and (max-width: 1250px) {
  .sec-domain__elem:nth-child(3) {
    padding-top: 156rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-domain__elem:nth-child(3) {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .sec-domain__elem:not(:last-child) {
    margin-bottom: 50rem;
  }
}
.sec-domain__elem-img {
  width: 100%;
  margin-bottom: 18px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1250px) {
  .sec-domain__elem-img {
    margin-bottom: 18rem;
  }
}
.sec-domain__elem-txt p {
  margin-bottom: 15px;
  color: var(--g-color-black);
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 1250px) {
  .sec-domain__elem-txt p {
    font-size: 20rem;
    margin-bottom: 15rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-domain__elem-txt p {
    font-size: 16rem;
    margin-bottom: 10rem;
  }
}
.sec-domain__elem-txt span {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: var(--g-color-black);
}
@media screen and (max-width: 1250px) {
  .sec-domain__elem-txt span {
    font-size: 16rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-domain__elem-txt span {
    font-size: 12rem;
  }
}
.sec-domain-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.sec-domain-bg__wrap {
  height: 100%;
  position: relative;
}
.sec-domain-bg img {
  width: 100%;
  height: 100%;
}
.sec-domain-deco {
  position: absolute;
  bottom: -5%;
  right: 0;
  z-index: 2;
}
.sec-domain-deco img {
  width: 100%;
}
.sec-domain .sec-domain-loop-wrap {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 5;
  overflow: hidden;
  padding: 30px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
@media screen and (max-width: 1250px) {
  .sec-domain .sec-domain-loop-wrap {
    padding: 30rem 0;
  }
}
.sec-domain .sec-domain-loop-area {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  animation: loop-area 50s infinite linear;
}
.sec-domain .sec-domain-loop-area:not(:last-child) {
  margin-right: 20px;
}
@media screen and (max-width: 1250px) {
  .sec-domain .sec-domain-loop-area:not(:last-child) {
    margin-right: 20rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-domain .sec-domain-loop-area:not(:last-child) {
    margin-right: 12rem;
  }
}
@keyframes loop-area {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.sec-domain .sec-domain-loop-txt {
  font-size: 300px;
  font-weight: bold;
  color: #FFEAE2;
  text-wrap: nowrap;
  line-height: 1;
  opacity: 0.4;
}
@media screen and (max-width: 1250px) {
  .sec-domain .sec-domain-loop-txt {
    font-size: 180rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-domain .sec-domain-loop-txt {
    font-size: 72rem;
  }
}
.sec-domain .sec-domain-loop-txt:not(:last-child) {
  margin-right: 20px;
}
@media screen and (max-width: 1250px) {
  .sec-domain .sec-domain-loop-txt:not(:last-child) {
    margin-right: 20rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-domain .sec-domain-loop-txt:not(:last-child) {
    margin-right: 12rem;
  }
}

.sec-about {
  padding: 50px 0;
}
@media screen and (max-width: 1250px) {
  .sec-about {
    padding: 50rem 0;
  }
}
.sec-about .container {
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
}
@media screen and (max-width: 768px) {
  .sec-about .container {
    display: block;
  }
}
.sec-about-img {
  max-width: 660px;
  width: 100%;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1250px) {
  .sec-about-img {
    max-width: 660rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-about-img {
    max-width: 100%;
    margin-bottom: 50rem;
  }
}
.sec-about-img img {
  width: 100%;
}
.sec-about-txt {
  padding: 0 50px;
  max-width: 450px;
}
@media screen and (max-width: 1250px) {
  .sec-about-txt {
    max-width: 450rem;
    padding: 0 50rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-about-txt {
    max-width: 100%;
    padding: 0;
  }
}
.sec-about-txt .sec-ttl {
  margin-bottom: 50px;
}
@media screen and (max-width: 1250px) {
  .sec-about-txt .sec-ttl {
    margin-bottom: 50rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-about-txt .sec-ttl {
    margin-bottom: 60rem;
  }
}
.sec-about-txt-main p {
  color: var(--g-color-black);
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  margin-bottom: 34px;
}
@media screen and (max-width: 1250px) {
  .sec-about-txt-main p {
    margin-bottom: 34rem;
    font-size: 16rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-about-txt-main p {
    margin-bottom: 30rem;
    font-size: 12rem;
    padding-right: 50rem;
  }
}
.sec-about-txt-main p.ttl {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
@media screen and (max-width: 1250px) {
  .sec-about-txt-main p.ttl {
    font-size: 20rem;
    margin-bottom: 20rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-about-txt-main p.ttl {
    font-size: 16rem;
    margin-bottom: 20rem;
  }
}
.sec-about-txt-main .a-btn a {
  margin-left: auto;
}
.sec-about-txt-deco {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.sec-about-txt-deco img {
  width: 60px;
}
@media screen and (max-width: 1250px) {
  .sec-about-txt-deco img {
    width: 60rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-about-txt-deco img {
    width: 40rem;
  }
}
.sec-about-bg {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 60%);
  z-index: 1;
}
.sec-about-bg img {
  width: 589px;
}
@media screen and (max-width: 1250px) {
  .sec-about-bg img {
    width: 589rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-about-bg img {
    width: 200rem;
  }
}

.sec-company {
  padding: 50px 0;
}
@media screen and (max-width: 1250px) {
  .sec-company {
    padding: 50rem 0;
  }
}
.sec-company .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 768px) {
  .sec-company .container {
    flex-direction: column-reverse;
  }
}
.sec-company-img {
  max-width: 660px;
  position: relative;
  z-index: 2;
  width: 100%;
}
@media screen and (max-width: 1250px) {
  .sec-company-img {
    max-width: 660rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-company-img {
    max-width: 100%;
    margin-bottom: 50rem;
  }
}
.sec-company-img img {
  width: 100%;
}
.sec-company-txt {
  margin-right: 50px;
  position: relative;
}
@media screen and (max-width: 1250px) {
  .sec-company-txt {
    margin-right: 50rem;
  }
}
.sec-company-txt .sec-ttl {
  margin-bottom: 50px;
}
@media screen and (max-width: 1250px) {
  .sec-company-txt .sec-ttl {
    margin-bottom: 50rem;
  }
}
.sec-company-txt-main p {
  color: var(--g-color-black);
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  margin-bottom: 34px;
  padding-right: 50px;
}
@media screen and (max-width: 1250px) {
  .sec-company-txt-main p {
    padding-right: 50rem;
  }
}
@media screen and (max-width: 1250px) {
  .sec-company-txt-main p {
    margin-bottom: 34rem;
    font-size: 16rem;
  }
}
.sec-company-txt-main p.ttl {
  padding-right: 0;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
@media screen and (max-width: 1250px) {
  .sec-company-txt-main p.ttl {
    font-size: 20rem;
    margin-bottom: 20rem;
  }
}
.sec-company-txt-main .a-btn a {
  margin-left: auto;
}
.sec-company-txt-deco {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
.sec-company-txt-deco img {
  width: 60px;
}
@media screen and (max-width: 1250px) {
  .sec-company-txt-deco img {
    width: 60rem;
  }
}

.sec-news {
  padding: 180px 0 160px;
  overflow: hidden;
}
@media screen and (max-width: 1250px) {
  .sec-news {
    padding: 180rem 0 160rem;
  }
}
.sec-news .container {
  display: flex;
  align-items: start;
  justify-content: left;
  max-width: 1528px;
  width: 100%;
  margin: unset;
  margin-left: auto;
}
@media screen and (max-width: 1250px) {
  .sec-news .container {
    max-width: 1528rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-news .container {
    display: block;
    max-width: 90%;
    margin: auto;
  }
}
.sec-news-txt {
  max-width: 350px;
  width: 100%;
  margin-right: 200px;
}
@media screen and (max-width: 1250px) {
  .sec-news-txt {
    margin-right: 200rem;
    max-width: 350rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-news-txt {
    margin-right: 0;
    max-width: 100%;
  }
}
.sec-news-txt .sec-ttl {
  margin-bottom: 50px;
}
@media screen and (max-width: 1250px) {
  .sec-news-txt .sec-ttl {
    margin-bottom: 50rem;
  }
}
.sec-news-txt-main p {
  color: var(--g-color-black);
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  margin-bottom: 27px;
  padding-right: 50px;
}
@media screen and (max-width: 1250px) {
  .sec-news-txt-main p {
    padding-right: 50rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-news-txt-main p {
    margin-bottom: 27rem;
    font-size: 16rem;
    padding-right: 0;
  }
}
.sec-news-txt-main p.ttl {
  padding-right: 0;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
@media screen and (max-width: 1250px) {
  .sec-news-txt-main p.ttl {
    font-size: 20rem;
    margin-bottom: 20rem;
  }
}
.sec-news-txt-main .a-btn a {
  margin-left: auto;
}
.sec-news-txt-main .sec-news-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sec-news-txt-main .sec-news-control .slide-navi-btns {
  display: flex;
  align-items: center;
  justify-content: left;
}
.sec-news-txt-main .sec-news-control .slide-navi-btns__left {
  margin-right: 10px;
}
@media screen and (max-width: 1250px) {
  .sec-news-txt-main .sec-news-control .slide-navi-btns__left {
    margin-right: 10rem;
  }
}
.sec-news-txt-main .sec-news-control .slide-navi-btns button {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1E1E1E;
  border: none;
  outline: none;
  cursor: pointer;
}
@media screen and (max-width: 1250px) {
  .sec-news-txt-main .sec-news-control .slide-navi-btns button {
    width: 44rem;
    height: 44rem;
  }
}
.sec-news-txt-main .sec-news-control .slide-navi-btns button svg {
  width: 9px;
  height: 17px;
}
@media screen and (max-width: 1250px) {
  .sec-news-txt-main .sec-news-control .slide-navi-btns button svg {
    width: 9rem;
    height: 17rem;
  }
}
.sec-news .sec-news-items {
  width: 70%;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .sec-news .sec-news-items {
    width: 100%;
    margin-top: 50rem;
  }
}
.sec-news .sec-news-items .sec-news-bg {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 60%;
}
.sec-news .sec-news-items .sec-news-bg img {
  width: 770px;
}
@media screen and (max-width: 1250px) {
  .sec-news .sec-news-items .sec-news-bg img {
    width: 770rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-news .sec-news-items .sec-news-bg img {
    width: 100%;
  }
}
.sec-news .sec-news-items .sec-news-deco {
  position: absolute;
  bottom: 0;
  left: 0;
}
.sec-news .sec-news-items .sec-news-deco img {
  width: 150px;
}
@media screen and (max-width: 1250px) {
  .sec-news .sec-news-items .sec-news-deco img {
    width: 150rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-news .sec-news-items .sec-news-deco img {
    width: 100rem;
  }
}
.sec-news .sec-news-items .swiper-button-list {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.sec-news .sec-news-items .news-item {
  width: 420px;
}
@media screen and (max-width: 1250px) {
  .sec-news .sec-news-items .news-item {
    width: 420rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-news .sec-news-items .news-item {
    width: 250rem;
  }
}
.sec-news .sec-news-items .news-item:not(:last-child) {
  margin-right: 40px;
}
@media screen and (max-width: 1250px) {
  .sec-news .sec-news-items .news-item:not(:last-child) {
    margin-right: 40rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-news .sec-news-items .news-item:not(:last-child) {
    margin-right: 20rem;
  }
}
.sec-news .sec-news-items .news-item-img {
  width: 100%;
  margin-bottom: 27px;
}
@media screen and (max-width: 1250px) {
  .sec-news .sec-news-items .news-item-img {
    margin-bottom: 27rem;
  }
}
.sec-news .sec-news-items .news-item-img img {
  width: 100%;
  height: auto;
}
.sec-news .sec-news-items .news-item-ttl p {
  font-size: 20px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: var(--g-color-black);
}
@media screen and (max-width: 1250px) {
  .sec-news .sec-news-items .news-item-ttl p {
    font-size: 20rem;
  }
}/*# sourceMappingURL=style.css.map */